/* Start Global  */
*{
    -webkit-box-sizing: border-box;   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color : #2196f3 ;
    --main-color-alt : #1787e0 ;
    --main-transition : 0.3s ;
    --main-padding-top : 100px;
    --main-padding-bottom : 100px;
    --section-background : #ECECEC; 
}
html{
    scroll-behavior: smooth;
}
body {
   font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
/* End Global  */

/* Start Fiche Tenue Compte  */
.FichetenueCompte {
    min-width: 100vh ;
    display: flex;
    flex-wrap: wrap;
}
.FichetenueCompte .image {
    background-image: url('/public/images/FicheTenueCompte-background1.jpg');
    color: white;
    background-size: cover;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative ;
    z-index: 1;
    animation: change-background 10s linear infinite ;
}
.FichetenueCompte .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.FichetenueCompte .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%; 
}
.FichetenueCompte .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: #F9F9F9;
    caret-color: var(--main-color);
}

.FichetenueCompte .form .input:focus {
    outline: none;
}
.FichetenueCompte .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}
.FichetenueCompte .form [type="submit"]:hover {
    background-color: var(--main-color-alt);
}
.FichetenueCompte .content {
    text-align:  center;
    padding: 0 20px;
}
.FichetenueCompte .content  h2  {
    font-size: 40px;
    letter-spacing: -2px;
}
.FichetenueCompte .content  p  {
   line-height: 1.6;
   font-size: 18px;
   max-height: 500px;
}
.FichetenueCompte .content  img {
   width: 300px;
   max-width: 100%;
}
/* End Fiche Tenue Compte  */


/* Start Animation */
@keyframes change-background {
    0% , 100%  {
        background-image: url('/public/images/FicheTenueCompte-background1.jpg');
    } 
    50% {
        background-image: url('/public/images/FicheTenueCompte-background2.jpg'); 
    }
}
/* End Animation  */